body{
  font-family: Caladea,serif;
    color: #696969;
}
#container{
  width:1000px;
  margin:0 auto;
}
header{
  border-bottom:2px solid #d3d3d3;
  overflow: hidden;
  padding-bottom:2px;
  position: relative;
}
#header-list{
  display: inline-block;
  position: absolute;
  bottom:0;
  margin-left: 50px;

}
header li{
  font-size:25px;
  list-style: none;
  float:right;
  margin-left:80px;
}
#header-name{
  height: 50px;
  display: inline-block;
  float:left;
  line-height: 30px;
  color: black;
}
.hdl {
  position: relative;
  display: inline-block;
  border: 3px solid #fff;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding:5px;
}
.hdl::before,
.hdl::after {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  content: '';
  transition: all .3s;
}
.hdl::before {
  border-top: 2px solid;
  border-bottom: 2px solid;
  transform: scale(0, 1);
}
.hdl::after {
  border-right: 2px solid;
  border-left: 2px solid;
  transform: scale(1, 0);
}
.hdl:hover {
}
.hdl:hover::after,
.hdl:hover::before {
  transform: scale(1);
}
.now{
  border: 3px solid black;
  color:black;
}


#main-wrapper{
  width:1000px;
  margin:0 auto;
}
.contents,h3{
  border-bottom: 1px solid #d3d3d3;
  margin-bottom:0;
}
h3{
  padding-bottom: 5px;
}
#about{
  text-align: center;
}
#name{
  font-size: 30px;
}
.comment{
  font-size:20px;
}
.dummy{
  width:200px;
  height:200px;
  background-color: black;
  margin:10px 10px;
}
